@page "/"

<PageTitle>Index</PageTitle>

<h1>Radiator Smart Home Dashboard</h1>
<h4 class="mt-4 mb-4">Case Project</h4>

<div style="width: 50%" >
    Welcome to the Dashboard where you can see all collected data which will help you decide whether or not to turn on your radiator! <br/><br/>
    As of now, the data is merely presented to you for you to decide when to turn your radiator on / off. <br/><br/>
    We do however intend to make this process fully automatic in the future, so stay tuned and subscribe to our newsletter!
</div>