@page "/OfficeTemperature"
@using Case.CoreFunctionality.Interfaces
@using Case.CoreFunctionality.Models
@inject IGatewayService _gateway;

<h3>Office Temperature</h3>

<p>This shows the room temperature of the office.</p>

@if(data == null || !data.Any())
{
    <div class="spinner-border" role="status"/>
}
else
{
    <table class="table table-sm" style="width: 50%">
        <thead>
            <tr>
                <th>Tidspunkt</th>
                <th>Temperatur</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var temperature in data)
            {
                <tr>
                    <th>@temperature.Time</th>
                    <th>@temperature.Temperature</th>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<RoomTemperature> data;

    protected override async Task OnInitializedAsync()
    {
        data = await _gateway.GetRoomTemperatureAsync();
    }
}
